body {
    margin: 0%;
    padding : 0%;
    background-image:url(img/mur.jpg) ;
    color: white;
}

/* style header*/
nav 

    {
      background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 5rem;
        margin: auto;
    }
    nav img{
        height: 5rem;
        width: 4rem;
        margin-left: 43%;
        padding: 0%;
    } 
    nav ul 
    {
        margin-top: 5rem;
        padding-left: 0%;
        width: 100vw;
        justify-content: space-around;
        position: absolute;
        align-items: center;   
        display: none;
        flex-direction: column;
        background: rgb(191,73,1);
        background: linear-gradient(180deg, black  0%, rgb(26, 25, 25) 100%);
        height: 220px;
    }
    nav li{
        list-style-type: none;
    }
    nav ul li a 
    {
        height: 5rem;
        text-decoration: none;
        color: white;
        font-family: apple chancery, cursive;
        margin: 0 auto;
    }
    
    #toggle
    {
        display: none;
    }
 
    label 
    {
        width: 3rem;
        display: flex;
        justify-content: center;
        font-size: 3rem;
        color: white;
        cursor: pointer;
    }
    #toggle:checked + .burger_menu{
        display: flex;


    } 
    /*fin style header*/

    /*debut footer*/
    footer {
        display: flex;
        align-items: center;
        height: 5rem;
        font-family: apple chancery, cursive;
        ;
    
    }
    .github {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
   
      }  
    .logoGithub {
        max-width: 2rem;
        height: 2rem;
    }
    footer ul li {
        list-style-type: none;
    }
    footer ul li a {
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        color: white;
        margin-top: 0.5em;
    }
    footer div {
        margin : 5%;
        color: white;
    }
    /*Page*/
h1{
    font-family: apple chancery, cursive;
    font-size: 1.8rem;
}
#contact {
    display: grid;
    color: white;
    font-family: apple chancery, cursive;

  }
  #contactForm {
    margin-bottom: 100px;
   }
   

#contactForm input {
  margin-bottom: 15px;
  width: 250px;
  }
body  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #contactForm label {
    color: white;
    font-family: apple chancery, cursive;
    font-size: inherit;
    margin-top: 10px;
  }

  #message {
    width: -moz-available;
    }
/*fin page*/




@media screen and (min-width: 600px)
  {
body {
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat:no-repeat;
}


     /*footer*/
  footer {
    justify-content: space-between;
    display: flex;
    background: none;
    border: none;
    position: absolute;
    font-size: x-large;
    bottom:0;    
    width:100%;
    height:70px;
    text-shadow: 1px 2px 15px black;
  }

  
  
  .github {
    display: contents;
    
  }
  
  
  
  .logoGithub {
  
    width: 100px;
    margin-left: 20px;
  }
  /*fin footer*/
  /*Page*/
  #name {
    width: 800px;
  }
 
  #contactForm input {
    width: 200px;
  }
  
    #contactForm {
      width: 400px;
    }
  #contactForm {
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: x-large;
  }
  
  #email {
    width: auto;
  }


  
  #message {
      width: -moz-available;
    }
    /*Fin page*/
    /*HEADER*/
  nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: xx-large;
  background: none;
  border: none;
  position: relative;
}

  nav ul{

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top:0;
  width: 100%; 
  position: none;
  background:none;
  height: 80px;
  border:none; 
  width: 100%;
  position:relative;
}
nav img {
  margin: auto;
  margin-right: 41%;
  margin-left: 2%; 
  width: 50px;
  }

label {
  position: none;
  cursor: none;
  color: transparent;
}

}