

#carte > iframe:nth-child(1) {
    width: 100%;
    padding: 0;
  }

#exemples  div img {
  max-width: 30%;
  height: auto;
}
#exemples {
  display: flex;
  flex-direction: column;
  border: 2px solid black ;
  justify-content: space-around;
  
}

#exemples div h3 {
  font-size: small;
}
div h3 {
    font-size: small;
  }

#exemples div {

  justify-content: flex;  
  justify-content: space-between;
  width: 100%;
  flex-direction: row;    
  display: flex;
  flex-direction: row;
  margin: 2px;
}

body {
  margin: 0;
  padding: 0;
}

#details {
  display: flex;
  flex-direction: column;  
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(230, 230, 230);
}

#details h2  {
  text-align: center;
}

body {
  
  background: rgb(253,187,45);
  background: radial-gradient(circle, rgba(253,187,45,1) 0%, rgba(191,73,1,1) 59%);
  background: rgb(191,73,1);background: linear-gradient(180deg, rgba(191,73,1,1) 0%, rgba(253,187,45,1) 100%);;
}

#details .button {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display:flex ;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
#exemples div #text{
    display: inline-block;
}