
    body {
        margin: 0%;
        padding : 0%;
        background-color: black;
        
    }
    /* style header*/
    nav 
    {

    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 5rem;
        margin: auto;
    }
    nav img{
        height: 5rem;
        width: 4rem;
        margin-left: 43%;
        padding: 0%;
    } 
    nav ul 
    {
        margin-top: 5rem;
        padding-left: 0%;
        width: 100vw;
        justify-content: space-around;
        position: absolute;
        align-items: center;   
        display: none;
        flex-direction: column;
        background: rgb(191,73,1);
        background: linear-gradient(180deg, black  0%, rgb(26, 25, 25) 100%);
        height: 220px;


    }
    nav li{
        list-style-type: none;
    }
    nav ul li a 
    {
        height: 5rem;
        text-decoration: none;
        color: white;
        font-family: apple chancery, cursive;
        margin: 0 auto;
    }
    
    #toggle
    {
        display: none;
    }
 
    label 
    {
        width: 3rem;
        display: flex;
        justify-content: center;
        font-size: 3rem;

        color: white;

        cursor: pointer;
    }
    #toggle:checked + .burger_menu{
        display: flex;


    } 
    footer {
        border-top: 2px solid white;


        display: flex;
        align-items: center;
        height: 7rem;
        font-family: apple chancery, cursive;
    }
    
    .logoGithub {
        max-width: 2rem;
        height: 2rem;
    }
    footer ul li {
        list-style-type: none;
    }
    footer ul li a {
        display: flex;

        flex-direction:row;
        justify-content: space-around;

        color: white;
        margin-top: 0.5em;
    }
    footer div {
        margin : 5%;
        color: white;
    }
    main{
        font-family: apple chancery, cursive;
        background: radial-gradient(circle, gray 0%, black 59%); 
    }    
    #welcome {
        display: flex;
        font-size: large;
        justify-content: center;
        text-align: center;
        color: white;
    
    }
    
    #presentation img {
        width: 100%;
        max-width: -moz-fit-content;
    }
    
    #presentation h2{
        color: black;
        padding: 1rem;
        text-shadow: 0.2em 0.2em 0.5em white, -0.1em -0.1em 0.5em white, 0.1em 0.1em 0.5em white;
        font-size: x-large;
        text-align: center;
    
    }
    #presentation p{
        text-align:justify;
        padding: 1rem;       
        text-shadow: 0.1em 0.1em 0.5em #000, -0.1em -0.1em 0.5em #000;
        color: white;
        font-size: large;
        
    }
    h1 {
        color: white;
        padding: 1rem;
        font-size: 1.8rem;
        text-shadow: 0.2em 0.2em 0.5em white, -0.1em -0.1em 0.5em white, 0.1em 0.1em 0.5em white;    
}
    h2{
        font-size: 1rem;
    }


    @media screen and (min-width: 600px) {



        nav img {
            width: 50px;
            margin-left: 2%;
            padding: 0%;
          }
          nav {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          font-size: xx-large;
          background: none;
          border: none;
          position: relative;
          top: 0;
          z-index: 10;
        }
          nav ul{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }
        nav ul {
          margin-top:0;
          width: 100%; 
          position: none;
          background:none;
          height: 80px;
          border:none; 
          width: 100%;
          position:relative;
        }
        label {
          position: none;
          cursor: none;
          color: transparent;
        }
        nav img {
            margin: auto;
            margin-right: 41%;
            margin-left: 2%;
            }
          

    }

