
/*  style footer  */


footer {
    border-top: 2px solid black;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.logoGithub {
    max-width: 40px;
    height: auto;
    position: absolute;
    padding-top: 5px;
}
.copyright{
   /*! padding-left: 55%; */
   /*! padding-right: 5%; */ 
}

.github {
    display: flex;
    padding-left: 13%;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
}

.gitName {
    padding-right: 20px;
    
}

#welcome {
    font-size: medium;
    font-display: center;

}
#nom_du_bar {
    font-size: medium;
    font-display: center;

}
#presentation img {
    width: 100%;
    max-width: -moz-fit-content;
}
h1 {
    display: table;
}


